body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.hero-body {
  padding-top: 0;
  padding-bottom: 1em !important;
}



.teaser {
  padding-top: 0;
  font-family: 'Google Sans', sans-serif;
  padding-bottom: 3rem;
}


.publication-title {}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors {}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.publication-body img {}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}

#interpolation-image-wrapper img {
  border-radius: 5px;
}

figure.media {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure.media img,
figure.media video {
  display: block;
  max-height: 200px;
  border-radius: var(--media-radius);
}

figure.media.lg img,
figure.media.lg video {
  max-height: initial;
  width: 100%;
}

figure.media figcaption {
  margin-top: 0.5rem;
  font-size: var(--caption-font-size);
  line-height: 1.45;
  color: var(--caption-color);
}

figure.media figcaption .credit {
  margin-left: 0.4rem;
  color: var(--credit-color);
  font-style: italic;
}

/* Overlay variant */
figure.media.overlay {
  position: relative;
}

figure.media.overlay figcaption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay-bg);
  color: var(--overlay-color);
  padding: var(--overlay-padding);
  border-bottom-left-radius: var(--media-radius);
  border-bottom-right-radius: var(--media-radius);
}

figure.media.overlay figcaption .credit {
  opacity: 0.9;
}

/* Optional: narrow layout for centered media */
.media.narrow {
  max-width: 800px;
  margin: 1rem auto;
}
